@model VidlyMovieRental.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
}

<h2>UserName: @Model.UserName</h2><br />
<label>Phone Number: @Model.PhoneNumber</label><br />
<label>Driving Licens: @Model.DrivingLicense</label><br />