

@model dynamic
@{
    ViewBag.Title = "Index";
}


<h2>New Rental Form</h2>





<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Number In Stock</th>
            <th>Reserve</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "names",
                        render: function (data, type, movie) {
                            return "<a href='/movie/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "numberInStock",


                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-reserve' data-movie-id=" + data + ">Reserve</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-reserve", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to rerserve this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Reserve/" + button.attr("data-movie-id"),
                            method: "POST",
                            success: function () {
                                console.log("done");
                            }
                        });
                    }
                });
            });
        });
    </script>
}

